<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.checkbit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ch.checkbit.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.checkbit.activities.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ch.checkbit.activities.MoveActivity"
            android:label="@string/title_activity_move" >
        </activity>
        <activity
            android:name="ch.checkbit.activities.MusicActivity"
            android:label="@string/title_activity_music"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.checkbit.MainActivity" />
        </activity>

        <receiver android:name="ch.checkbit.RemoteControlReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="ch.checkbit.CutActivity"
            android:label="@string/title_activity_cut"
            android:parentActivityName="ch.checkbit.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.checkbit.activities.MainActivity" />
        </activity>
    </application>

</manifest>
